<div class="page-header">
  <h1><%= @actor.name %></h1>
</div>

<div class="row">

  <div class="col-sm-6">
    <h3>Filmography</h3>

    <ul>
        <% @actor.roles.each do |role| %>
        <li><%= role.character_name %> in 
          <%= link_to role.movie.title, "/movies/#{role.movie.id}" %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
