<!-- <%= link_to "Add a New Movie", "/movies/new", class: 'btn btn-primary' %> -->


<div class="row">

  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <a href="/movies/new">
        <%= image_tag "add_new.png" %>
      </a>
    </div>
  </div>

  <% @movies.each do |movie| %>

    <div class="col-sm-3 col-md-3">
      <div class="thumbnail">
        <a href="/movies/<%= movie.id %>">
          <%= image_tag movie.image_url %>
        </a>
      </div>
    </div>

  <% end %>

</div>
