<div class="page-header">
  <%= link_to "Add a New Director", "#", class: 'btn btn-primary pull-right' %>
  <h1>Directors</h1>
</div>


<div class="row">

  <div class="col-sm-12">
    <ul class="list-unstyled">
      <% @directors.each do |director| %>
        <% n = Movie.where(:director_id => director.id).count %>
        <li><%= link_to director.name, "/directors/#{director.id}" %> (<%= n %> movies)</li>
      <% end %>
    </ul>
  </div>

</div>
