<div class="page-header">
  <h1>Ever wanted to take that Negotiations class?</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "KIB_logo.jpg", class: "img-responsive thumbnail" %>
  </div>
  <div class="col-md-8">
    <h2 class="featurette-heading">Do not wait anymore. <span class="text-muted">Join today!</span></h2>
        <br><p class="lead">KIB is a matching platform that connects students that want to teach a class (“Tutors”) with students that didn’t take that class but wanted to learn it (“Learners”).  After the match, “Tutors” meet for one hour with “Learners” and share their learnings and their main takeaways from that class.”</p></br>
    </h2>
  </div>
</div>
