<div class="page-header">
  <h1>How it works</h1>
</div>

<!-- START FAQ -->
<div class="container faq page-section" id="faq">
  <div class="row faqpage">
    <div class="col-md-6">
      <h4>How does KIB work?</h4>
      <p>Fill out the survey. After you fill out the survey, we will pair you with tutors/learners using our algorithm and the tutors will send out an invite for a 1-hour meeting.</p>

      <h4>Do I have to teach?</h4>
      <p>Yes, the platform only works if everyone contributes. To do that, we created the 1:2 rule – for every class you teach, you can learn two. This is a great way to review classes you took and get ready for starting the summer / full time job!</p>

      <h4>Can I share materials from class?</h4>
      <p>No, you can only share your notes with your interpretation of the material given in class, otherwise you might violate the Kellogg Honor Code (e.g.: sharing homework, midterms, finals, etc.) or Copyright laws (e.g.: sharing cases or slides from professors).</p>

      <h4>Do I have to prepare anything or commit to something?</h4>
      <p>Yes. If you are a student, we ask you not to cancel your meeting or be late. Other students are using their time to teach you. If you are a teacher, we ask you to be prepared for class, by creating a 1-page summary with your own notes and learnings from class that you think are important for others and with material that is publicly available (not copyrighted).</p>

      <h4>What’s the quality of this class?</h4>
      <p>This is NOT a substitute for a class. Consider this as a 1-hour discussion about a topic that if you are interested you will research further. This is a 1-hour meeting with a student teaching and will not have the same quality as a 5-week or 10-week class with an official Kellogg professor.</p>
    </div>
    
    <div class="col-md-6">
      <h4>How many classes can I Learn?</h4>
      <p>As many as you want, as long as the number of classes you want to learn is less than twice the number of classes you want to teach (1:2 rule). We try to keep the number of students in a class up to 5.</p>
    
      <h4>Why should I join?</h4>
      <p>If you are a “student” you will learn by listening in a small group and participating in interesting discussions; If you are a “teacher” you will learn by teaching; additionally, you will meet new people and give it back to your colleagues!</p>

      <h4>What are the rules?</h4>
      <p>Be committed to participate (i.e.: don’t cancel, don’t be late, etc.); respect Kellogg Honor Code and Copyright laws.</p>

      <h4>Is there a calendar to see all classes?</h4>
      <p>After you fill out the survey we will send you the invite for the Kellogg in a bottle calendar with all classes that are happening (more than 20! only this next weeks).</p>

      <h4>Is Kellogg aware of this initiative?</h4>
      <p>We are currently talking and scheduling meetings with professors, KSA and deans.</p>

      <h4>I am a 1st year, can I join?</h4>
      <p>Yes.</p>
    </div>
  </div>
</div>
<!-- /END FAQ -->